@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

.title{
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: rgb(69, 64, 64);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    margin: 5px;
}

button:hover {
    transform: scale(1.15);
}

button#equal {
    height: 130px;
}

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: rgb(46, 45, 45);
}

.calculator button#clear {
    color: red;
}

.calculator button.btn-number {
    background-color: #c9dff5;
}

.calculator button.btn-operator {
    background-color: #ed980f;
    color: #000;
}

.calculator button.btn-equal {
    background-color: #0fed9f;
    color: #000;
}

.calculator.dark {
    background-color: #000000;
}

.calculator.dark #display {
    color: aliceblue;
}

.calculator.dark button#clear {
    background-color: #4c0404;
    color: #fff;
}

.calculator.dark button.btn-operator {
    background-color: #360137;
    color: #fff;
}

.calculator.dark button.btn-equal {
    background-color: #03412b;
    color: #fff;
}

.calculator.dark button.btn-number {
    background-color: #021c36;
    color: #fff;
}